<%provide(:title, 'Edit Product Sample')%>
<h1>Editing product_sample</h1>

<%= render 'form' %>

<%= link_to 'Show', @product_sample, :class => "btn btn-inverse" %> |
<%= link_to 'Back', product_samples_path, :class => "btn btn-info" %>
		
