<%provide(:title, 'Quiénes somos')%>
<% meta :description => "Crestas mano lingotes, emblemas, Bordado Iglesia, Colección de Navidad",
        :keywords => "Crestas mano lingotes, emblemas, Bordado Iglesia, Colección de Navidad, cita libre, precio bajo hecho a mano del bordado, Acerca de Nosotros"
%>
<h1>Quiénes somos</h1>
<hr/>
<p>
	Distribuciones Guadalquivir has been providing superior quality services to customers for more than a decade. We’ve created logo and other patches for different companies, schools, corporations, country clubs, sporting clubs, Church embroidery, Christmas collection etc. Patches are embroidered using Gold and Silver bullion, Silk and threads of different colors. You can see sample of our work by clicking on Our Work on top menu or click on any category on sidebar.Distribuciones Guadalquivir ha estado proporcionando servicios de calidad superior a los clientes por más de una década. Hemos creado el logotipo y otros parches para diferentes empresas, escuelas, empresas, clubes de campo, clubes deportivos, bordados Iglesia, colección de Navidad etc parches están bordados con oro y plata en lingotes, seda e hilos de diferentes colores. Puedes ver muestras de nuestro trabajo haciendo clic en nuestro trabajo en el menú superior o haga clic en cualquiera de las categorías en la barra lateral.
</p>
<legend>Declaración de la Misión</legend>
<p>
	En Distribuciones Guadalquivir estamos comprometidos en crear y mantener un alto nivel de excelencia en nuestro trabajo y relaciones con los clientes. Nuestro objetivo es entender las necesidades únicas de cada cliente y elaborar el producto final que es la pareja perfecta para el diseño proporcionado al cliente.
</p>

<legend>Nuestro trabajo y experiencia</legend>
<p>
	Distribuciones Guadalquivir ha estado proporcionando servicios de calidad superior por más de una década. Cada una de nuestras piezas del bordado hecho a mano es una obra maestra de distinción y elegancia. Nuestro trabajo refleja una elegancia clásica y el acabado de nuestros productos es a la vez moderna y cuidada.	
</p>

<legend>Nuestro Precio</legend>
<p>
	La decisión de obtener un servicio que no debe haber un equilibrio entre la calidad y el costo. En Distribuciones Guadalquivir creemos en la entrega de calidad inmejorable a un precio inmejorable.
</p>