<%provide(:title, 'Contáctenos')%>
<% meta :description => "Póngase en contacto con nosotros para obtener crestas mano lingotes, emblemas, Bordado Iglesia, Colección de Navidad",
        :keywords => "Crestas mano lingotes, emblemas, Bordado Iglesia, Colección de Navidad, cita libre, precio bajo hecho a mano del bordado"
%>
<h1>Contáctenos</h1>
<hr/>
<address>
  <strong>Distribuciones Guadalquivir</strong><br>
  Mohalla Doctor Ilyas Wala<br>
  Doburgee Araiyan, Pasror Road, Sialkot, Pakistan, 51310<br>  
  Phone: +92-300-715-3024<br>
  <a href="mailto:info@distribucionesguadalquivir.es">info@distribucionesguadalquivir.es</a> <br /><br />
  
  <strong>Contacto en España</strong><br>
  muy pronto ...
</address>