<%provide(:title, 'Contáctenos')%>
<% meta :description => "Póngase en contacto con nosotros para obtener crestas mano lingotes, emblemas, Bordado Iglesia, Colección de Navidad",
        :keywords => "Crestas mano lingotes, emblemas, Bordado Iglesia, Colección de Navidad, cita libre, precio bajo hecho a mano del bordado"
%>
<h1>Contáctenos</h1>
<hr/>
<div class="row">
<div class="span5">		
		<legend>Distribuciones Guadalquivir</legend>
		<address>		  
		  Mohalla Doctor Ilyas Wala<br>
		  Doburgee Araiyan, Pasror Road, Sialkot, Pakistan, 51310<br>  
		  Phone: +92-52-352-1222<br>
		  Fax: +92-52-361-5593<br>
		  <a href="mailto:benilyasbro@gmail.com">benilyasbro@gmail.com</a> <br /><br />		  
		</address>
</div>
</div>