<%provide(:title, 'Contact Us')%>
<% meta :description => "Contact us for Handmade Bullion Crests, Emblems, Church Embroidery, Christmas Collection",
        :keywords => "Handmade Bullion Crests, Emblems, Church Embroidery, Christmas Collection, Free Quote, Low Price Handmade Embroidery"
%>
<h1>Contact Us</h1>
<hr/>
<address>
  <strong>Distribuciones Guadalquivir</strong><br>
  000 Test Avenue<br>
  Test City, NY 00000<br>
  Phone: 000-000-0000<br>
  Phone: (718)-000-0000<br>
  <a href="mailto:#">first.last@example.com</a>
</address>