<%provide(:title, 'Frequently Asked Questions')%>
<% meta :description => "Handmade Bullion Crests, Emblems, Church Embroidery, Christmas Collection",
        :keywords => "Handmade Bullion Crests, Emblems, Church Embroidery, Christmas Collection, Free Quote, Highest Quality at Low price, Frequently Asked Questions"
%>
<h3 style="margin-bottom: 0px">Frequently Asked Questions</h3>
<hr style="margin-top: 2px"/>
<p>
	Following are few FAQs, if your question is not answered please feel free to call us at 888-888-8888 or drop us an email at test@test.com
</p>

<legend>How much time it will take for patches to be delivered?</legend>
<p>After evaluating the sample provided and quantity required we estimate the delivery date and will communicate that date. Mostly it takes 4-5 weeks to deliver the patches. In case there is an urgent requirement please inform us we will try to expedite the production. You can always consult by using <%= link_to "Free Quote", newquote_url %>.</p>

<legend>What is the minimum quantity that I can order?</legend>
<p>We try our best to accomodate all of customers irrespective of quantity, on the basis of design or sample received we evaluate the quantity requested by the customer. You can always consult by using <%= link_to "Free Quote", newquote_url %>.</p>

<legend>How many colors are supported in a patch?</legend>
<p>We don't have any restriction on number of colors neither our pricing is based on number of colors.</p>

<legend>Are there any restrictions on patch size and shape?</legend>
<p>There are no restrictions on patch size or shape we have delivered all shapes and sizes to customers.</p>

<legend>How can I confirm that my patch is as per my design provided before delivery?</legend>
<p>We take pictures of the very first patch created of your design and email to you for review so that you can verify.</p>

<legend>What type of backing is supported?</legend>
<p>If there is no special backing requested by customer then we put cotton cloth backing. We've been providing our customers with all types of backings requested by them like metal clip, plastic clip, velcros etc.. </p>
