<%provide(:title, 'Home of all types of Embroidered products')%>
<% meta :description => "Distribucion Es Guadalquivir provide embroidery services for Emblems, Crests, Coat of Arms, Bands and any type of custom patch. We offer free design services, please use our free quote tool to get started.",
        :keywords => "Handmade Bullion Crests, Emblems, Church Embroidery, Christmas Collection, Free Quote, Low Price Handmade Embroidery"
%>
<div class="row">
	<div class="span9" style="margin-bottom: 0px">
		<h3 style="margin-bottom: 0px; margin-top: 0px">Distribucion Es Guadalquivir</h3>
		<hr style="margin-top: 2px; margin-bottom: 0px"/>
		<p>
			Distribucion Es Guadalquivir has been providing superior quality services to customers for more than a decade. We’ve created logo and other patches for different companies, schools, corporations, country clubs, sporting clubs, Church embroidery, Christmas collection etc. Patches are embroidered using Gold and Silver bullion, Silk and threads of different colors. You can see sample of our work by clicking on Samples on top menu or click on any category on sidebar under Samples.  
		</p>
		<p>
			Please see below our services and feel free to call at 888-888-8888 for any question.
		</p>
	</div>
	<div class="span5">		
		<legend>Free Quote</legend>
		<p>
			To get a free quote of your desing please use <%= link_to "Free Quote", newquote_url %> form. Once quote is submitted we will get back to you in one business day.
		</p>		
		<legend>Free Design Services</legend>
		<p>
			We provide our customers with free design services. We've been helping our customers to improve their existing design or suggest design from our experience.
		</p>
		<legend>Sample Development</legend>
	  <p>
	  	We provide sample development services as well, please submit your design at <%= link_to "Free Quote", newquote_url %> to get feedback.
	  </p>
	</div>
	<div class="span4">		
	  <legend>
	  	High Quality at Low Price
	  </legend>
	  <p>
	  	We have our own manufacturing unit that's why our prices are lowest in the market, please see prices attached to our sample work to get an idea of our pricing.
	  </p>
	  <legend>Pricing Calculation</legend>
	  <p>
	  	Pricing for each design is calculated on the basis of sample provided and quantity selected, please review <%= link_to "Pricing", newquote_url %> page for details.
	  </p>
	</div>
</div>
