<%provide(:title, 'Inicio de todos los tipos de productos bordados')%>
<% meta :description => "Distribuciones Guadalquivir proporcionar servicios de bordado para los emblemas, las crestas, escudo de armas, bandas y cualquier tipo de parche personalizado. Ofrecemos servicios de diseño libre, por favor utilice nuestra herramienta de presupuesto sin compromiso para empezar.",
        :keywords => "Crestas mano lingotes, emblemas, Bordado Iglesia, Colección de Navidad, cita libre, precio bajo hecho a mano del bordado"
%>
<div class="row">	
	<div class="span9" style="margin-bottom: 0px">
		<h1>Distribuciones Guadalquivir</h1>
		<hr/>
		<p>
			Distribuciones Guadalquivir ha estado proporcionando servicios de calidad superior a los clientes por más de una década. Hemos creado el logotipo y otros parches para diferentes empresas, escuelas, empresas, clubes de campo, clubes deportivos, bordados Iglesia, colección de Navidad etc parches están bordados con oro y plata en lingotes, seda e hilos de diferentes colores. Puedes ver muestras de nuestro trabajo haciendo clic en Productos de menú superior o haga clic en cualquiera de las categorías en la barra lateral bajo Productos.  
		</p>
		<p>
			Vea a continuación nuestros servicios y no dude en contactar con nosotros para cualquier pregunta.
		</p>
	</div>
	<div class="span5">		
		<legend>Servicios de diseño gratis</legend>
		<p>
			Ofrecemos a nuestros clientes servicios de diseño libre. Hemos estado ayudando a nuestros clientes a mejorar su diseño ya existente o sugerir el diseño de nuestra experiencia.
		</p>
		<legend>Desarrollo de muestra</legend>
	  <p>
	  	Ofrecemos servicios de desarrollo de la muestra, así, por favor póngase en contacto con nosotros con su diseño.
	  </p>
	</div>
	<div class="span4">		
	  <legend>
	  	Alta calidad a bajo precio
	  </legend>
	  <p>
	  	Tenemos nuestra propia unidad de fabricación es por eso que nuestros precios son los más bajos en el mercado, por favor consulte los precios vinculados a nuestro trabajo muestra para tener una idea de nuestros precios.
	  </p>	  
	</div>
</div>
