<%provide(:title, 'Privacy Policy')%>
<% meta :description => "Handmade Bullion Crests, Emblems, Church Embroidery, Christmas Collection",
        :keywords => "Handmade Bullion Crests, Emblems, Church Embroidery, Christmas Collection, Free Quote, Low Price Handmade Embroidery"
%>

<h1>Privacy Policy</h1>
<hr/>

<legend>What information do we collect?</legend>
<p>
	We collect information from you when you request a <%= link_to "Free Quote", newquote_url %>.<br />
	When requesting a  <%= link_to "Free Quote", newquote_url %> on our site, as appropriate, you may be asked to enter your: name, e-mail address, mailing address, phone number or fax. You may, however, visit our site anonymously. <br />
	<br />
	We do not collect any financial information including credit card numbers, we are using PayPal services for payment processing.
</p>

<legend>What do we use your information for?</legend>
<p>
	Any of the information we collect from you may be used in one of the following ways:
	<ul>
		<li> 
			To process services requested by you
		</li>
		<li>
			Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than for the express purpose of delivering the purchased product or service requested.
		</li>
	</ul>
</p>

<legend>How do we protect your information?</legend>
<p>
	Your information remains in our system and it is only accessible by those authorized with special access rights.  	
</p>

<legend>Do we use cookies? </legend>
<p>
	We do not use cookies.
</p>

<legend>Do we disclose any information to outside parties?</legend> 
<p>
	We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.
</p>

<legend>Third party links</legend> 
<p>
	Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.
</p>

<legend>Online Privacy Policy Only</legend> 
<p>
	This online privacy policy applies only to information collected through our website and not to information collected offline.
</p>

<legend>Changes to our Privacy Policy</legend>
<p>
	If we decide to change our Privacy Policy we will post changes on this page.
</p>

<legend>Contact Us</legend>
<address>
  <strong>Distribuciones Guadalquivir</strong><br>
  000 Test Avenue<br>
  Test City, NY 00000<br>
  Phone: 000-000-0000<br>
  Phone: (718)-000-0000<br>
  <a href="mailto:#">first.last@example.com</a>
</address>
